body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #001f3f; 
}

/* Navigation Bar */
.navbar {
    background-color: #00b8d4;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    width: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center; 
}

.nav-links ul {
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff; 
}

.nav-links a:hover,
.nav-links a.active {
    text-decoration: underline;
}

.book-now-btn {
    background-color: #0074a8;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.book-now-btn:hover {
    background-color: #00b8d4;
    color: white;
}

.signin-btn {
    padding: 5px 10px;
    border: 2px solid #ffffff; 
    border-radius: 5px;
}

/* Content */

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 2px 90px;
}

.clientInfo input {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 5px ;
    padding: 5px;
}
.clientInfo textarea {
    margin-top: 5px;
    padding: 5px;
}

button {
    margin-top: 20px;
    border-radius: 20px;
    width: 75px;
    height: 30px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}
  

/* Footer */

footer {
    background-color: #0074a8; 
    color: #ffffff; 
    text-align: center;
    padding: 20px 20px; 
    margin-top: 20px; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0; 
    text-align: left; 
}

.footer-links li {
    margin-bottom: 10px; 
}

.footer-links a {
    color: #ffffff; 
    text-decoration: none;
}

.contact-details {
    margin: 0; 
    text-align: right;
}

.company-logo img {
    width: 250px; 
    margin-top: -80px;
}

.social-media-icons {
    display: flex;
    align-items: center;
}

.social-media-icons a {
    margin-left: 10px; 
}

.social-media-icons img {
    height: 30px; 
}

.credit {
    color: #f5f5f5; 
    font-size: smaller;
}

